header, footer {
    background-color: #3a55a5;
    border-bottom: 5px solid #2A3e7e;
}
.footer {
    padding-top: 1em;
    padding-bottom: 1em;
    clear: both;
}
.footer a {
    color: white;
}
body { 
    margin: 0px;
    background-color: white;
}
div.header, footer {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    padding-left: 1em;
}
section.citation, section.results {
    padding: 1em;
}
section.citation h1 {
    font-family: 'Nunito', sans-serif;
}
section tbody th { 
    text-align: left;
    padding-right: 2em;
}
section.result {
    padding: 0.5em;
}
section.result a {
    text-decoration: none;
}
.odd {
    background-color: #eeeeee;
}
section.authors, section.publications {
    margin: 0 0 1em 1em;
    float: left;
}
section.authors td.author {
    width: 12em;
    padding-left: 2em;
    text-indent: -2em;
}
section.authors th {
    height: 2em;
}
section.publications {
    padding-left: 2em;
}
section.publications td.pub {
    width: 20em;
    padding-left: 2em;
    text-indent: -2em;
}
th.numcites {
    width: 5em;
}
div.searchbox label {
    color: white;
    padding-left: 1em;
}
@media screen and (min-device-width: 1024px) and (min-width: 960px) {
    div.searchbox {
        position: absolute;
        top: 1em;
        right: 1em;
    }
    div.header {
        padding: 1em;
        font-size: 160%;
    }
}
