<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" sizes="196x196" href="/favicon-196.png">
<link rel="apple-touch-icon-precomposed" href="/favicon-152.png">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href='https://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
<div class="header">
  <h1><a href="{{ url_for('home_html', lang=_('en')) }}">{{ _('Labour Studies Index') }}</a></h1><span class="updated">{{ _('Updated: %(update)s', update='2019-04-26') }}</span>
</div>
<div class="searchbox">
    <form action="{{ url_for('search_bar', lang=_('en')) }}">
        <label>{{ _('Search: ') }}<input type="search" name="s" autocomplete="on" /></label>
        <input type="submit" value="{{ _('Submit') }}" />
        
        <a style="color: #FFF; margin-left: 3em;" href="{{ url_for('home_html', lang=_('fr')) }}">{{ _('Français') }}</a>
    </form>
</div>
</header>
{% block content %}{% endblock %}
<footer class="footer">
{{ _('A project of the <a href="%(liburl)s">%(libname)s</a> at <a href="%(uniurl)s">%(uniname)s</a>.',
        liburl="https://laurentian.ca/library/", libname=_("J.N. Desmarais Library"),
        uniurl="https://laurentian.ca/", uniname=_("Laurentian University")
) }}
<a style="float:right; font-size: 60%; padding-right: 1em;" href="https://drive.google.com/open?id=1ckkrQzW4KI11U58ODsQFISlOUYI0aXWpUT9_xw019mo&authuser=1">{{ _('(Presentation)') }}</a>
</footer>
</body>
</html>
