<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
<div class="header">
    <a href="{{ url_for('home_html')}}"</a>Labour Studies Index</a>
</div>
<div class="searchbox">
    <form action="{{ url_for('search_bar') }}">
        <label>Search: <input type="search" name="s" autocomplete="on"></input></label>
        <input type="submit" value="Submit" />
    </form>
</div>
</header>
{% block content %}{% endblock %}
<footer class="footer">
A project of the <a href="http://laurentian.ca/library/">J.N. Desmarais Library</a> at <a href="http://laurentian.ca/">Laurentian University</a>.
</footer>
</body>
</html>
