{% extends "base.html" %}
{% block title %}{{ _('Citation: ') }}{{ record.title|escape }}{% endblock %}
{%- macro author_block(author, heading, sprop) -%}
<tr>
  <th>{{ heading }}</th>
  <td class="author">
  <span property="{{ sprop }}" typeof="Person">
      <span property="name">{{ author.name|escape }}</span>
      {{ author_links(author) }}
  </span>
  </td>
</tr>
{%- endmacro %}
{%- macro author_links(author) -%}
    {%- for uri in author.uri %}
        {%- if uri.cat == 'home' %}
      <link property="url" href="{{ uri.uri|striptags }}">
        {%- else %}
      <link property="sameAs" href="{{ uri.uri|striptags }}">
        {%- endif %}
    {%- endfor %}
{%- endmacro %}
{%- block content -%}
<section class="citation" vocab="http://schema.org/" prefix="lcrel: http://id.loc.gov/vocabulary/relators/" typeof="{{ record.schema_type }}" {%
  if record.uri -%}
    resource="{{ record.uri }}"
{% else -%}
    resource="#"
{%- endif %}>
<h1 property="name">{{ record.title|escape }}</h1>
<table>
<tbody>
{%- if record.doc_type_human %}
<tr>
  <th>{{ _('Document type') }}</th>
  <td><a href="{{
        url_for('filter_citations', facets='doctype:' + record.doc_type_human, lang=_('en'))
    }}">{{ _(record.doc_type_human|escape) }}</a></td>
</tr>
{%- endif %}
{%- if record.authors|length > 0 %}
{%-     for author in record.authors %} 
{%-         if author.author_type == 'author': %}
    {{ author_block(author, 'Author', 'author') }}
{%-         elif author.author_type == 'editor': %}
    {{ author_block(author, 'Editor', 'editor') }}
{%-         elif author.author_type == 'series_editor': %}
    {{ author_block(author, 'Series Editor', 'editor') }}
{%-         elif author.author_type == 'translator': %}
    {{ author_block(author, 'Translator', 'contributor lcrel:trl') }}
{%-         elif author.author_type == 'contributor': %}
    {{ author_block(author, 'Contributor', 'contributor') }}
{%-         endif %}
{%-     endfor %}
{%- endif %}
{%- if record.doc_type == 'THES' and record.work_type %}
<tr>
    <th>{{ _('Degree') }}</th>
    <td>{{ record.work_type|striptags }}</td>
</tr>
{%- endif %}
{%- if record.doc_type != "THES" %}
    {%- if record.pub_venue == "Periodical" and record.doc_type != "RPRT" %}
<tr property="isPartOf" typeof="{{ record.pub_venue }}" resource="#pub_venue">
  <th>{{ _('Journal') }}</th>
  <td><span property="name"><a href="{{ 
        url_for('filter_citations', facets='publication:' + record.title2, lang=_('en'))
    }}">{{ record.title2|escape }}</a></span>
{%- if record.volume %}<link property="hasPart" href="#volume" />{% endif -%}
  </td>
</tr>
        {%- if record.volume %}
<tr property="isPartOf" typeof="PublicationVolume" resource="#volume">
  <th>{{ _('Volume') }}</th>
  <td property="volumeNumber">{{ record.volume|striptags }}</td>
</tr>
        {%- endif %}
    {%- endif %}
    {%- if record.pub_venue == "Book" and record.doc_type != "RPRT" and record.doc_type != "BOOK" %}
<tr property="isPartOf" typeof="{{ record.pub_venue }}" resource="#pub_venue">
  <th>{{ _('Book') }}</th>
  <td><span property="name">{{ record.title2|escape }}</span></td>
</tr>
    {%- endif %}
{%- endif %}
{%- if record.publisher %}
<tr resource="#pub_venue">
  <th>{{ _('Publisher') }}</th>
  <td><span property="publisher" typeof="Organization">
        <span property="name">{{ record.publisher }}</span>;
        {%- if record.pub_place %}
        <span property="address location">{{ record.pub_place }}</span>
        {%- endif %}
    </span>
  </td>
</tr>
{%- endif %}
{%- if record.pub_date_human %}
<tr>
  <th>{{ _('Date') }}</th>
  <td property="datePublished">{{ record.pub_date_human|escape|trim }}</td>
</tr>
{%- endif %}
{%- if record.isbn_issn and record.pub_venue == 'Book' %}
<tr{% if record.schema_type == "Article"%} resource="#pub_venue"{% endif %}>
  <th>{{ _('ISBN') }}</th>
  <td property="isbn">{{ record.isbn_issn|escape }}</td>
</tr>
{%- elif record.isbn_issn and record.pub_venue == 'Periodical' %}
<tr resource="#pub_venue">
  <th>{%- if record.doc_type_human == 'Report' -%}
        {{ _('Report number') }}
    {%- else -%}
        {{ _('ISSN') }}
    {%- endif -%}
  </th>
  <td{% if record.doc_type_human != 'Report' %} property="issn"{% endif %}>{{ record.isbn_issn|escape }}</td>
</tr>
{%- endif %}
{%- if record.start_page %}
<tr>
  <th>{{ _('Pages') }}</th>
  <td property="pagination"><span property="pageStart">{{ record.start_page|escape }}</span>{% if record.end_page %}-<span property="pageEnd">{{ record.end_page|escape }}</span>{% endif %}</td>
</tr>
{%- endif %}
{%- if record.url %}
<tr>
  <th>{{ _('URL') }}</th>
  <td><a href="{{ record.url|escape }}" property="url">{{ record.url|escape }}</a></td>
</tr>
{%- endif %}
{%- if record.kw and 0 %}
<tr>
  <th>{{ _('Keywords') }}</th>
  <td>
  {%- for kw in record.kw %} 
    <span property="about">{{ kw.0|escape }}</span>{% if loop.revindex0 %}, {% endif %}
  {%- endfor%}
  </td>
</tr>
{%- endif %}
</tbody>
</table>
{%- if record.abstract %}
<h2>{{ _('Abstract') }}</h2>
  <p class="abstract" property="description">{{ record.abstract|escape }}</p>
{%- endif %}
{%- if record.notes %}
<h2>Notes</h2>
  {%- for note in record.notes %} 
  <p property="description">{{ note.0|striptags }}</p>
  {%- endfor%}
{%- endif %}
</section>
{%- endblock %}
