{% extends "base.html" %}
{% block title %}Citation: {{ record.title|escape }}{% endblock %}
{%- block content -%}
<section class="citation" vocab="http://schema.org/" typeof="{{ record.schema_type }}" {%
  if record.uri -%}
    resource="{{ record.uri }}"
{% else -%}
    resource="#"
{%- endif %}>
<h1 property="name">{{ record.title|escape }}</h1>
<table>
<tbody>
{%- if record.doc_type_human %}
<tr>
  <th>Document type</th>
  <td><a href="{{
        url_for('filter_citations', facets='doctype:' + record.doc_type_human)
    }}">{{ record.doc_type_human|escape}}</a></td>
</tr>
{%- endif %}
{%- if record.authors|length > 0 %}
{%- for author in record.authors %} 
<tr>
  <th>Author</th>
  <td class="author">
  <span property="author" typeof="Person">
      <span property="name">{{ author.name|escape }}</span>
  </span>
  </td>
</tr>
{%- endfor %}
{%- endif %}
{%- if record.doc_type == 'THES' and record.work_type %}
<tr>
    <th>Degree</th>
    <td>{{ record.work_type|striptags }}</td>
</tr>
{%- endif %}
{%- if record.doc_type != "THES" %}
    {%- if record.pub_venue == "Periodical" and record.doc_type != "RPRT" %}
<tr property="isPartOf" typeof="{{ record.pub_venue }}" resource="#pub_venue">
  <th>Journal</th>
  <td><span property="name"><a href="{{ 
        url_for('filter_citations', facets='publication:' + record.title2)
    }}">{{ record.title2|escape }}</a></span></td>
</tr>
    {%- endif %}
    {%- if record.pub_venue == "Book" and record.doc_type != "RPRT" and record.doc_type != "BOOK" %}
<tr property="isPartOf" typeof="{{ record.pub_venue }}" resource="#pub_venue">
  <th>Book</th>
  <td><span property="name">{{ record.title2|escape }}</span></td>
</tr>
    {%- endif %}
{%- endif %}
{%- if record.publisher %}
<tr resource="#pub_venue">
  <th>Publisher</th>
  <td><span property="publisher" typeof="Organization">
        <span property="name">{{ record.publisher }}</span>;
        {%- if record.pub_place %}
        <span property="address location">{{ record.pub_place }}</span>
        {%- endif %}
    </span>
  </td>
</tr>
{%- endif %}
{%- if record.pub_date_human %}
<tr>
  <th>Date</th>
  <td property="datePublished">{{ record.pub_date_human|escape|trim }}</td>
</tr>
{%- endif %}
{%- if record.isbn_issn and record.pub_venue == 'Book' %}
<tr{% if record.schema_type == "Article"%} resource="#pub_venue"{% endif %}>
  <th>ISBN</th>
  <td property="isbn">{{ record.isbn_issn|escape }}</td>
</tr>
{%- elif record.isbn_issn and record.pub_venue == 'Periodical' %}
<tr resource="#pub_venue">
  <th>ISSN</th>
  <td property="issn">{{ record.isbn_issn|escape }}</td>
</tr>
{%- endif %}
{%- if record.start_page %}
<tr>
  <th>Pages</th>
  <td property="pagination"><span property="pageStart">{{ record.start_page|escape }}</span>{% if record.end_page %}-<span property="pageEnd">{{ record.end_page|escape }}</span>{% endif %}</td>
</tr>
{%- endif %}
{%- if record.url %}
<tr>
  <th>URL</th>
  <td><a href="{{ record.url|escape }}" property="url">{{ record.url|escape }}</a></td>
</tr>
{%- endif %}
{%- if record.kw %}
<tr>
  <th>Keywords</th>
  <td>
  {%- for kw in record.kw %} 
    <span property="about">{{ kw.0|escape }}</span>{% if loop.revindex0 %}, {% endif %}
  {%- endfor%}
  </td>
</tr>
{%- endif %}
</tbody>
</table>
{%- if record.abstract %}
<h2>Abstract</h2>
  <p class="abstract" property="description">{{ record.abstract|escape }}</p>
{%- endif %}
{%- if record.notes %}
<h2>Notes</h2>
  {%- for note in record.notes %} 
  <p property="description">{{ note.0|striptags }}</p>
  {%- endfor%}
{%- endif %}
</section>
{%- endblock %}
