{% extends "base.html" %}
{% block title %}Labour Studies Index{% endblock %}
{%- block content -%}
<section class="home">
<p>
    The <em>Labour Studies Index</em> offers approximately
    5,000 citations of journal articles, books, book chapters, theses, and
    other literature.
</p>
<section class="authors home_summary">
<h2>Authors ({{ summary.acnt }})</h2>
<table>
  <thead>
    <tr><th>Author</th><th class="numcites">Number of citations</th></tr>
  </thead>
  <tbody>
{%- for author in summary.authors %}
  <tr class=" {{ loop.cycle('odd', 'even') }}">
    <td class="author">
      <a href="{{
          url_for('filter_citations', facets='author:' + author.0|striptags)
        }}">{{ author.1|striptags }}</a>
    </td>
    <td>{{ author.2 }}</td>
  </tr>
{%- endfor %}
  </tbody>
</table>
</section>
<section class="publications home_summary">
<h2>Publications ({{ summary.pcnt }})</h2>
<table>
  <thead>
    <tr><th>Publication</th><th class="numcites">Number of citations</th></tr>
  </thead>
  <tbody>
{%- for pub in summary.pubs %}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td class="pub">
      {%- if pub.0 %}
      <a href="{{url_for('filter_citations', facets='publication:' + pub.0|striptags)}}">
      {%- endif %}{{ pub.0|striptags }}{%- if pub.0 %}</a>{%- endif %}
    </td>
    <td>{{ pub.1 }}</td>
  </tr>
{%- endfor %}
  </tbody>
</table>
</section>
<section class="pubtypes home_summary">
<h2>Publication types</h2>
<table>
  <thead>
    <tr><th>Type</th><th class="numcites">Number of citations</th></tr>
  </thead>
  <tbody>
{%- for pub in summary.types %}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td class="pubtype">
      {%- if pub.0 %}
      <a href="{{url_for('filter_citations', facets='doctype:' + pub.0|striptags)}}">
      {%- endif %}{{ pub.0|striptags }}{%- if pub.0 %}</a>{%- endif %}
    </td>
    <td>{{ pub.1 }}</td>
  </tr>
{%- endfor %}
  </tbody>
</table>
</section>
<section class="languages home_summary">
<h2>Languages</h2>
<table>
  <thead>
    <tr><th>Language</th><th class="numcites">Number of citations</th></tr>
  </thead>
  <tbody>
{%- for pub in summary.languages %}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td class="pubtype">{{ pub.0|striptags }}</td>
    <td>{{ pub.1 }}</td>
  </tr>
{%- endfor %}
  </tbody>
</table>
</section>
<section class="series home_summary">
<h2>Series</h2>
<table>
  <thead>
    <tr><th>Series title</th><th class="numcites">Number of citations</th></tr>
  </thead>
  <tbody>
{%- for pub in summary.series %}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td class="pub">
      {%- if pub.0 %}
      <a href="{{
          url_for('filter_citations', facets='series:' + pub.0|striptags)
        }}">
      {%- endif %}{{ pub.0|striptags }}{%- if pub.0 %}</a>{%- endif %}
    </td>
    <td>{{ pub.1 }}</td>
  </tr>
{%- endfor %}
  </tbody>
</table>
</section>
</section>
{%- endblock %}
