{% extends "base.html" %}
{% block title %}Labour Studies Index{% endblock %}
{%- block content -%}
<section class="home">
<p>
    The <em>Labour Studies Index</em> offers approximately
    5,000 citations of journal articles, books, book chapters, theses, and
    other literature.
</p>
<section class="authors">
<h2>Authors ({{ summary.acnt }})</h2>
<table>
  <thead>
    <tr><th>Author</th><th class="numcites">Number of citations</th></tr>
  </thead>
  <tbody>
{%- for author in summary.authors %}
  <tr class=" {{ loop.cycle('odd', 'even') }}">
    <td class="author">
      <a href="{{
          url_for('filter_citations', facets='author:' + author.0|striptags)
        }}">{{ author.1|striptags }}</a>
    </td>
    <td>{{ author.2 }}</td>
  </tr>
{%- endfor %}
  </tbody>
</table>
</section>
<section class="publications">
<h2>Publications ({{ summary.pcnt }})</h2>
<table>
  <thead>
    <tr><th>Publication</th><th class="numcites">Number of citations</th></tr>
  </thead>
  <tbody>
{%- for pub in summary.pubs %}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td class="pub">
      <a href="{{
          url_for('filter_citations', facets='publication:' + pub.0|striptags)
        }}">{{ pub.0|striptags }}</a>
    </td>
    <td>{{ pub.1 }}</td>
  </tr>
{%- endfor %}
  </tbody>
</table>
</section>
</section>
{%- endblock %}
