{% extends "base.html" %}
{% block title %}{{ _('Labour Studies Index') }}{% endblock %}
{%- block content -%}
<section class="home">
<p>
    {{ _("The <em>Labour Studies Index</em> offers %(num)d
    citations of journal articles, books, book chapters, theses, and
    other literature.", num=summary.total) }}
</p>
<section class="authors home_summary">
<h2>{{ _('Authors (%(count)d)', count=summary.acnt) }}</h2>
<table>
  <thead>
    <tr><th>{{ _('Author') }}</th><th class="numcites">{{ _('Number of citations') }}</th></tr>
  </thead>
  <tbody>
{%- for author in summary.authors %}
  <tr class=" {{ loop.cycle('odd', 'even') }}">
    <td class="author">
      <a href="{{
          url_for('filter_citations', facets='author:' + author.0|striptags)
        }}">{{ author.1|striptags }}</a>
    </td>
    <td>{{ author.2 }}</td>
  </tr>
{%- endfor %}
  </tbody>
</table>
</section>
<section class="publications home_summary">
<h2>{{ _('Publications (%(count)d)', count=summary.pcnt) }}</h2>
<table>
  <thead>
    <tr><th>{{ _('Publication') }}</th><th class="numcites">{{ _('Number of citations') }}</th></tr>
  </thead>
  <tbody>
{%- for pub in summary.pubs %}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td class="pub">
      {%- if pub.0 %}
      <a href="{{url_for('filter_citations', facets='publication:' + pub.0|striptags)}}">
      {%- endif %}{{ pub.0|striptags }}{%- if pub.0 %}</a>{%- endif %}
    </td>
    <td>{{ pub.1 }}</td>
  </tr>
{%- endfor %}
  </tbody>
</table>
</section>
<section class="pubtypes home_summary">
<h2>{{ _('Publication types') }}</h2>
<table>
  <thead>
    <tr><th>{{ _('Type') }}</th><th class="numcites">{{ _('Number of citations') }}</th></tr>
  </thead>
  <tbody>
{%- for pub in summary.types %}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td class="pubtype">
      {%- if pub.0 %}
      <a href="{{url_for('filter_citations', facets='doctype:' + pub.0|striptags)}}">
      {%- endif %}{{ _(pub.0|striptags) }}{%- if pub.0 %}</a>{%- endif %}
    </td>
    <td>{{ pub.1 }}</td>
  </tr>
{%- endfor %}
  </tbody>
</table>
</section>
<section class="languages home_summary">
<h2>{{ _('Languages') }}</h2>
<table>
  <thead>
    <tr><th>{{ _('Language') }}</th><th class="numcites">{{ _('Number of citations') }}</th></tr>
  </thead>
  <tbody>
{%- for pub in summary.languages %}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td class="pubtype">{{ pub.0|striptags }}</td>
    <td>{{ pub.1 }}</td>
  </tr>
{%- endfor %}
  </tbody>
</table>
</section>
<section class="series home_summary">
<h2>{{ _('Series') }}</h2>
<table>
  <thead>
    <tr><th>{{ _('Series title') }}</th><th class="numcites">{{ _('Number of citations') }}</th></tr>
  </thead>
  <tbody>
{%- for pub in summary.series %}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td class="pub">
      {%- if pub.0 %}
      <a href="{{
          url_for('filter_citations', facets='series:' + pub.0|striptags)
        }}">
      {%- endif %}{{ pub.0|striptags }}{%- if pub.0 %}</a>{%- endif %}
    </td>
    <td>{{ pub.1 }}</td>
  </tr>
{%- endfor %}
  </tbody>
</table>
</section>
</section>
{%- endblock %}
